.support-btn {
    background: #0c9a56;
    border: 0px solid #0c9a56;
    border-radius: 4px;
    cursor: pointer;
    font-family: Rubik,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
    color: white;
    padding: 12px 20px;
    margin-left: 60px
}

.proj-card-amoun-title {
  font-weight: 700 !important;
  color:#88928d;
  font-size: 12px !important;
}

.proj-card-bottom-bts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-cap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.slide-cap a {
  font-size: 14px !important;
  padding: 3px !important;
}

.needs__list-item{
  border-radius: 10px;
  overflow: hidden;
}

.card__read-btn{
  border: 2px solid #0c9a56;
  border-radius: 4px;
  max-width: 174px;
    display: block;
    background: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
    color: #0c9a56;
    text-align: center;
    padding: 4px 8px 4px 8px;
    margin: 0 auto;
}

.card__read-btn img {
  display: inline-flex;
  vertical-align: middle;
  margin-left:5px;
}

.card__donate-btn img {
  display: inline-flex;
  vertical-align: middle;
  margin-left:5px;
}

@media (max-width: 575px){
    .support-btn{
        font-size: 12px;
        padding: 5px;
    }

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cn-li {
  padding-left: 1em; 
  padding-bottom: 5px;
}

.cn-li::before {
  content: "■ ";
  color: #0c9a56;
}

.partners-grid {
    display: inline-grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}
.partners-tbl {
    margin:10px;
    background-color: #f1f1f1;
    padding: 20px;
}
.parners-f {
    min-width: 100px;
    width:100px
}
.parners-s {
    padding-left: 30px;
}
.promo-1-col {
    width: 100%;
}
.promo-1-pic {
    display: none;
}
.promo-1-m-pic {
    justify-self: center;
    max-width: 580px;
    width: 100%;
    margin-top: -20px;
}
.txt-block p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.promo-mini-1-pic{
    margin-top: -20px;
}
.promo-mini-4-pic{
    margin-top: 0px;
}
.promo-mini-4-content{
    margin-top: 0px;
}

.promo-mission-target {
    background: #0c9a56;
    color: #fff;
    padding: 30px;
    width: 100%;
    margin-bottom:40px;
    max-width: 1000px;
    margin-top:20px;
}

.promo-razro-head {
    text-align: center;
}

.promo-whats-include {
    background: #f8f8f8;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.promo-whats-include-green {
    background-color: #0C9A56;
    margin-top:30px;
    padding: 15px;
    color:white;
    margin-top: -5px;
}

.main-partner-sel {
    box-shadow: 0.20rem 0.20rem #0c9a56, -0.20rem -0.20rem #0c9a56;
}

.main-intro-logo {
  display: none;
}
.main-intro-logo-mb {
  display: block;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin-top: -80px;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    max-width: 1200px;
    margin: 48px auto;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: background-image 0.8s ease-in-out;
    cursor: pointer;
  }
  
  .slider .slide {
    display: none;
  }
  
  .caption {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    opacity: 0;
    display: inline-block;
    padding: 28px;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.8s ease-in-out;
    text-shadow: 1px 1px 2px black;
  }
  
  .caption small {
    font-size: 16px;
    font-weight: 300;
  }

  
@media(min-width : 768px) {
  .main-intro-logo {
    display: block;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }
  .main-intro-logo-mb {
    display: none;
  }
  .partners-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
  }
        
    .promo-1-pic {
        display: block;
    }

    .promo-1-col{
        width: 50%;
    }

    .promo-1-m-pic{
        display: none;
    }

    .promo-mini-1-pic{
        margin-top: 70px;
    }

    .promo-mission-target {
        background: #0c9a56;
        color: #fff;
        padding: 30px;
        width: 100%;
        margin-bottom:40px;
        max-width: 1000px;
    }

    .promo-razro-head {
        margin-left: 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    .promo-whats-include {
        background: #f8f8f8;
        padding: 50px;
        width: 100%;
        margin-bottom:40px;
        margin-top: 30px;
    }

    .promo-whats-include-green {
        background-color: #0C9A56;
        margin-top:30px;
        padding: 30px;
        color:white;
    }
    .promo-mini-4-pic{
        margin-top: 50px;
    }
    .promo-mini-4-content{
        margin-top: 30px;
    }
}


.center-docs {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin-top:30px;
    margin-bottom: 30px;;
    justify-content: center;
  }
  .center-doc {
    font-weight: bold;
    padding: 0px;
    width: 291px;
    color:#565656;
  }
  .center-doc-img-w{
    height: 403px;
    width: 291px;
    padding: 0px;
    margin: 0px;
  }
  .center-invs {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin-top:30px;
    margin-bottom: 30px;;
    justify-content: center;
  }
  .center-inv {
    padding: 0px;
    margin: 0px;
    width: 370px;
  }

.thanks {
   /* fit in up to 5 columns of 180px wide tiles, 20px gutters: 5*180 + 4*20: */
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  /* fit as many columns as possible, 180px wide each: */
  grid-template-columns: 1fr ;
  /* each row is 20px high -- we always span 2+ */
  grid-auto-rows: minmax(20px, auto);
  justify-content: center;	
}

.thanks > * {
  width: 275px;
  /* only for older non-grid browsers: */
  float: left;  
  /* only for older non-grid browsers: */
  margin: 15px;
}

.ht0 { grid-row-end: span 2; }
.ht1 { grid-row-end: span 3; }
.ht2 { grid-row-end: span 4; }
.ht3 { grid-row-end: span 5; }
.ht4 { grid-row-end: span 6; }
.ht5 { grid-row-end: span 7; }
.ht6 { grid-row-end: span 8; }
.ht7 { grid-row-end: span 9; }


@supports (display: grid) {
  .thanks > * {
    /* modern browser -- grid-gap takes care of us: */
    margin: 0 auto;
  }
}

/* cosmetics only from here on down */
.thanks > * {
  background-color: #f3f6f5;
  
  font-size: 15px;
}
.thanks > * img {
  max-width: 100%;
  
}
.thank-ava{
  filter: drop-shadow(3px 3px 0px #6a9c84);
}
.tanks_sign {
  
  color: white;
  position: absolute;
  transform: translate(-2%,-50%);
  
  
}
.thanks-sign-text{
  background: #6a9c84;
  text-shadow: 1px 1px 1px black;
  font-size: 13px;
}

.thank-card-wrap{
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

  .hide_True {
    display: none;
  }
  .visible_False {
    display: none;
  }
  .visible_null {
    display: none;
  }

  .card_content_middle-True {
    border-bottom: 0px;
  }

  @media (min-width: 600px) {
    .mob-only_True {
      display: none;
    }
  }

  @media (min-width: 600px) {
    .center-docs { grid-template-columns: repeat(2, 1fr); }

    .center-invs { grid-template-columns: repeat(2, 1fr); }

    .thanks {grid-template-columns: 1fr 1fr; grid-gap: 20px; }
  }
  @media (min-width: 1200px) {
    .center-docs { grid-template-columns: repeat(4, 1fr); }

    .center-invs { grid-template-columns: repeat(3, 1fr); }

    .thanks{grid-template-columns: 1fr 1fr 1fr 1fr;}
  }
.main-slider-add{
  max-width:1200px;
  width:100%;
  margin-top: 0px !important;
}
  .main-title-slides {
    margin-top: 49px;
    margin-bottom: -20px;
  }
  .main-title-rehub {
    margin-bottom: 0px;
  }
  .main-title-problems {
    margin-left: 50px;
    text-align: center;
  }
  .our-activity__img-wr {
    margin-top: 60px;
  }
  .main-text-problems {
    margin-top:30px;
  }
  .maint-title-proj{
    margin-top:50px;
  }
  .main-needs-list{
    margin-left: 0px;
    margin-right: 0px;
  }
  .main-title-about{
    text-align: center;
    margin-bottom: 20px;
  }
  .center-text-promberms{
    margin-top:30px;
  }
  .about-hero{

  }

  @media (max-width: 600px) {
    .desc-only_True {
      display: none;
    }
    .main-title-slides {
      margin-top: 0px;
      margin-bottom: -30px;
    }
    .main-title-rehub {
      margin-bottom: -30px;
      margin-top: -10px;
    }
    .main-title-problems {
      margin-left: 00px;
      text-align: center;
    }
    .our-activity__img-wr {
      margin-top: 10px;
    }
    .main-text-problems {
      margin-top: -20px;
    }
    .maint-title-proj{
      margin-top:20px;
    }
    .main-needs-list{
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
    }
    .about-fund__extended-info{
      padding: 0px;
    }
    .main-title-about{
      text-align: center;
      margin-bottom: 15px;
      margin-top: -20px;
    }
    .center-text-promberms{
      margin-top:-20px;
    }
    .about-hero{
      margin-bottom: 0px;
    }
    .about-mission{
      margin-top: -110px;
      margin-bottom: 20px;
    }
    .partners-tbl{
      padding: 5px;
    }
    .parners-s{
      padding-left: 10px;
      font-size: 13px;
    }
  }


  .testimonials-slider--style-3 .slick-slide {
      padding: 15px 0 0 0;
  }
  .testimonials-slider__item{

    box-shadow: 0 3px 15px 2px rgb(84 65 92 / 20%);
    position: relative;
    padding: 30px 10px 13px 10px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.7;
    margin-top:50px;
    background-color: #0c9a56;
    color: white;
    border-radius: 5px;
  }
  .testimonials-slider__icon{
    font-size: 100px;
      line-height: 30px;
      font-weight: 700;
      position: absolute;
      top: 20px;
      left: 30px;
      font-family: Quicksand, sans-serif;
      color: #ffffff99;
    transform: translate(-23px, 10px);
  }
  .testimonials-slider__text{
    text-align: center;
  }
  .testimonials-slider__text p {
    font-weight: 400;
    font-size: 20px;
    text-shadow: 0.5px 0.5px 1px black;
  }
  .testimonials-slider__author{
    text-align: left;
  }

  @media(max-width: 600px){
    .testimonials-slider__item{
      margin-top:30px;
      max-width: 360px;
    }
  }

  @media only screen and (min-width: 768px) {
    .testimonials-slider--style-3 .slick-slide {
        padding: 15px;
    }
  }

  .funwrap video {
    margin:20px;
    max-width: 100%;
  }
  @media(max-width: 600px){
    .funwrap video {
      margin:10px;
    }
  }

  .admin-table{
    font-family: Rubik,sans-serif;
  }
  .admin-table td {
    padding: 20px;
    
  }

  .fa-primary{
    color: #0c9a56;
  }


  .user-form .form__field {
    margin-bottom: 10px;
}
.user-form .form__message {
  height: 132px;
}
.form__message {
  padding: 12px 30px;
  border-radius: 25px;
}

textarea {
  overflow: auto;
  resize: vertical;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form input, .form textarea {
  -webkit-appearance: none;
}
.form__field {
  font-size: 14px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid lightgray;
  padding: 0 15px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
  outline: 0;
}

.col-lg-6{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.email__submit{
  border-radius: 6px;
  max-width: 174px;
  border: 0px solid red;
  background: #0c9a56;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4em;
  color: #fff;
  text-align: center;
  padding: 10px;
  float: left;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 50px;
  cursor: pointer;
}

@media (min-width: 992px){
.col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}
}